{% extends 'JobFinderWeb/base.html' %}
{% load static %}
{% block title %} Job Application{% endblock title %}
{% block content %}
  <header class="page-header bg-img size-lg" style="background-image: url({% static "img/bg-banner1.jpg"%})">
      <div class="container no-shadow">
        <h1 class="text-center">Apply for the job</h1>
        <p class="lead text-center">Apply with your online resume, create new resume for the job, or make a custom application.</p>

        <hr>

        <!-- Job detail -->
        <a class="item-block item-block-flat" href="job-detail.html">
          <header>
            <img src='{% static "img/logo-google.jpg" %}' alt="">
            <div class="hgroup">
              <h4>{{ job.jobtitle }}</h4>
              <h5>{{ job.Company }}</h5>
            </div>
            <div class="header-meta">
              <span class="location">{{ job.location }}</span>
              <time datetime="2016-03-10 20:00">{{ job.timestamp | timesince }} ago</time>
            </div>
          </header>
        </a>
        <!-- END Job detail -->

        <div class="button-group">
          <div class="action-buttons">
            <a class="btn btn-gray" href="#sec-custom">Custom application</a>
            <a class="btn btn-primary" href="#sec-resume">Apply with a resume</a>
          </div>
        </div>

      </div>
    </header>
    <!-- END Page header -->


    <!-- Main container -->
    <main>


        <!-- Apply with resume -->
        <section id="sec-resume">
          <div class="container">

            <header class="section-header">
            {% include 'JobFinderWeb/message.html' %}
              <span>Apply with a resume</span>
              <h2>Select a resume</h2>
              <p>Applied for this job with one of your online available resumes</p>
            </header>
            
            {% if resumees %}
                {% for resumee in resumees %}
                <div class="item-block">
                <header>
                <form method="POST">
                {% csrf_token %}
                    <a href="{{ resumee.get_absolute_url }}"><img class="resume-avatar" src='{% static "img/avatar.jpg" %}' alt=""></a>
                    <div class="hgroup">
                    <h4><a href="{{ resumee.get_absolute_url }}">{{ resumee.name }}</a></h4>
                    <h5>{{ resumee.headline }}</h5>
                    </div>
                    <div class="header-meta">
                    <span class="location">{{ resumee.location }}</span>
                    <span class="rate">${{ resumee.salary }} per hour</span>
                    </div>
                </header>
                <input type="Hidden" name="slug" value="{{ resumee.slug }}">

                <footer>
                    <p class="status"><strong>Updated on:</strong> {{ resumee.updated }}</p>

                    <div class="action-btn">
                    <a class="btn btn-xs btn-gray" href="#">Edit</a>
                    {% comment %} <a class="btn btn-xs btn-success" href="#">Select</a> {% endcomment %}
                    <input class="btn btn-xs btn-success"  type="submit" value="Select"></input>
                    </div>
                </footer>
                </form>
                </div>
                {% endfor %}
                {% else %}
                    <h3>Sorry no resumee in your profile yet, create one now </h3>
            {% endif %}
            
            <!-- END Resume item -->


            <br>

            <div class="row">
              <div class="col-xs-12 col-md-3">
                <a class="btn btn-block btn-primary" href='{% url 'JobFinderWeb:newresumee' %}'>Add new resume</a>
              </div>
            </div>
            
          </div>
        </section>
        <!-- END Apply with resume -->


        <!-- Custom application -->
        <section id="sec-custom" class="bg-alt">
          <div class="container">
            <header class="section-header">
              <span>Custom application</span>
              <h2>Apply now</h2>
              <p>Apply for this job with a custom application.</p>
            </header>

            <form method="POST">
            {% csrf_token %}
              <div class="row">
                <div class="form-group col-xs-12 col-md-6">
                    {{ jobform.name }}
                  {% comment %} <input type="text" class="form-control input-lg" placeholder="Name"> {% endcomment %}
                </div>

                <div class="form-group col-xs-12 col-md-6">
                {{ jobform.email }}
                  {% comment %} <input type="email" class="form-control input-lg" placeholder="Email"> {% endcomment %}
                </div>
              </div>

              <div class="form-group">
              {{ jobform.message }}
                {% comment %} <textarea class="form-control" rows="5" placeholder="Message"></textarea> {% endcomment %}
              </div>

              <div class="form-group">
                
              </div>
              
              <div class="row">
                <div class="col-xs-6 col-md-3">
                  <div class="upload-button upload-button-block">
                    <button class="btn btn-block btn-success">Attach your CV</button>
                    <input name="cv" type="file">
                  </div>
                </div>

                <div class="col-xs-6 col-md-3">
                  <button type="submit" class="btn btn-block btn-primary">Submit application</button>
                </div>
              </div>
            </form>

          </div>
        </section>
        <!-- END Custom application -->


    </main>
{% endblock %}