{% extends 'JobFinderWeb/base.html' %}
{% load static %}
{% block title %} New Company {% endblock title %}
{% block content %}
  <form method="post" enctype='multipart/form-data'>

{% csrf_token %}
      <!-- Page header -->
      <header class="page-header">
      
        <div class="container page-name">
          <h1 class="text-center">{{ title }}</h1>
          <p class="lead text-center">Create a profile for your company and put it online.</p>
          <span>{{ form.errors }}</span>
        </div>

        <div class="container">

          <div class="row">
            <div class="col-xs-12">
              <div class="row">
                
                <div class="col-xs-12 col-sm-4 col-lg-2">
                  <div class="form-group">
                    <input type="file" name='logo' class="dropify" data-default-file='{% static "img/logo-default.png" %}'>
                    <span class="help-block">A square logo</span>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-8 col-lg-10">
                  <div class="form-group">
                    <input type="text" class="form-control input-lg" placeholder="Company Name" value="{{ form.companyname.value }}" name="companyname">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" value="{{ form.headline.value }}" placeholder="Headline (e.g. Internet and computer software)" name="headline">
                  </div>

                  <div class="form-group">
                    <textarea class="form-control" rows="3"  placeholder="Short description" name="shortdescription">{{ form.shortdescription.value }}</textarea>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-xs-12">
              <div class="row">

                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                    <input type="text" class="form-control" value="{{ form.location.value }}" placeholder="Location, e.g. Melon Park, CA" name="location">
                  </div>
                </div>

                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-users"></i></span>
                    <select class="form-control selectpicker" name="no_of_employees">
                      <option {% if form.no_of_employees.value == "0 - 9" %}selected{% endif %} value="0 - 9">0 - 9</option>
                      <option {% if form.no_of_employees.value == "10 - 99" %}selected{% endif %}  value="10 - 99">10 - 99</option>
                      <option {% if form.no_of_employees.value == "100 - 999" %}selected{% endif %}  value="100 - 999">100 - 999</option>
                      <option {% if form.no_of_employees.value == "1,000 - 9,999" %}selected{% endif %}  value="1,000 - 9,999">1,000 - 9,999</option>
                      <option {% if form.no_of_employees.value == "10,000 - 99,999" %}selected{% endif %}  value="10,000 - 99,999">10,000 - 99,999</option>
                      <option {% if form.no_of_employees.value == "100,000 - 999,999" %}selected{% endif %}  value="100,000 - 999,999">100,000 - 999,999</option>
                    </select>
                    <span class="input-group-addon">Employer</span>
                  </div>
                </div>

                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                    <input type="text" value="{{ form.website.value }}" class="form-control" name="website" placeholder="Website address">
                  </div>
                </div>

                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-birthday-cake"></i></span>
                    <input type="text" value="{{ form.founded.value }}" class="form-control" name="founded" placeholder="Founded on, e.g. 2013">
                  </div>
                </div>

                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                    <input type="text" value="{{ form.phonenumber.value }}" class="form-control" name="phonenumber" placeholder="Phone number">
                  </div>
                </div>

                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input type="text" value="{{ form.email.value }}" class="form-control" name="email" placeholder="Email address">
                  </div>
                </div>

                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-certificate"></i></span>
                    <select class="form-control selectpicker" name="category">
                      <option {% if form.category.value == "Developer" %}selected{% endif %} value="Developer">Developer</option>
                      <option {% if form.category.value == "Designer" %}selected{% endif %} value="Designer">Designer</option>
                      <option {% if form.category.value == "Customer Service" %}selected{% endif %} value="Customer Service">Customer Service</option>
                      <option {% if form.category.value == "Finance" %}selected{% endif %} value="Finance">Finance</option>
                      <option {% if form.category.value == "Health Care" %}selected{% endif %} value="Health Care">Health Care</option>
                      <option {% if form.category.value == "Sale" %}selected{% endif %} value="Sale">Sale</option>
                      <option {% if form.category.value == "Marketing" %}selected{% endif %} value="Marketing">Marketing</option>
                      <option {% if form.category.value == "Information Technology" %}selected{% endif %} value="Information Technology">Information Technology</option>
                      <option {% if form.category.value == "Others" %}selected{% endif %} value="Others">Others</option>
                     
                    </select>
                  </div>
                </div>

              </div>
            </div>


          </div>

          <div class="button-group">
            <div class="action-buttons">
              <div class="upload-button">
                <button class="btn btn-block btn-primary">Choose a cover image</button>
                <input id="cover_img_file" type="file" name='coverimage'>
              </div>
            </div>
          </div>

        </div>
      </header>
      <!-- END Page header -->


      <!-- Main container -->
      <main>

        <!-- Social media -->
        <section>
          <div class="container">

            <header class="section-header">
              <span>Get connected</span>
              <h2>Social media</h2>
            </header>

            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-facebook"></i></span>
                    <input type="text" value="{{ form.facebook.value }}" class="form-control" placeholder="Profile URL" name="facebook">
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-google-plus"></i></span>
                    <input type="text" value="{{ form.google.value }}" class="form-control" placeholder="Profile URL" name="google">
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-dribbble"></i></span>
                    <input type="text" value="{{ form.dribbble.value }}" class="form-control" placeholder="Profile URL" name="dribbble">
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-pinterest"></i></span>
                    <input type="text" value="{{ form.pinterest.value }}" class="form-control" placeholder="Profile URL" name="pinterest">
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-twitter"></i></span>
                    <input type="text" value="{{ form.twitter.value }}" class="form-control" placeholder="Profile URL" name="twitter">
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-github"></i></span>
                    <input type="text" value="{{ form.git.value }}" class="form-control" placeholder="Profile URL" name="git">
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-instagram"></i></span>
                    <input type="text" value="{{ form.instagram.value }}" class="form-control" placeholder="Profile URL" name="instagram">
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-youtube"></i></span>
                    <input type="text" value="{{ form.youtube.value }}" class="form-control" placeholder="Profile URL" name="youtube">
                  </div>
                </div>
              </div>
            </div>

          </div>
        </section>
        <!-- Social media -->

        <!-- Company detail -->
        <section class=" bg-alt">
          <div class="container">

            <header class="section-header">
              <span>About</span>
              <h2>Company detail</h2>
              <p>Write about your company, culture, benefits of working there, etc.</p>
            </header>
            
            <textarea value="{{ form.companydetails.value }}" class="summernote-editor" name="companydetails">{{form.companydetails.value}}</textarea>

          </div>
        </section>
        <!-- END Company detail -->


        <!-- Submit -->
        <section>
          <div class="container">
            <header class="section-header">
              <span>Are you done?</span>
              <h2>Submit it</h2>
              <p>Please review your information once more and press the below button to put your company online.</p>
            </header>

            <p class="text-center"><button class="btn btn-success btn-xl btn-round">Submit your company</button></p>

          </div>
        </section>
        <!-- END Submit -->


      </main>
      <!-- END Main container -->

    </form>
{% endblock content %}